#logo {
 height: 100px;
 width: 500px;
 background: none;
 margin: 0 auto;
 z-index: 2;
 margin-top: 10%
}

#cornice {
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  background: none;
  height: 720px;
  width: 650px;
  transform: rotate(-1.9deg);
  margin-left: -10px;
}

#camera{
 position: absolute;
 height: 510px;
 width: 600px;
 display: block;
 margin: 0 auto;
 z-index: 0;
 margin-top: 130px;
 margin-left: 25px;
}


.topnav {
  overflow: hidden;
  background-color:none;
  width: 500px;
  margin: 0 auto;
  z-index: 2;
}

.topnav p {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  margin: 0 auto;
  z-index: 2;
}


img{
  height: 400px;
  width: 500px;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.content-img {
  margin-top: 5% !important;
  overflow: hidden;
  width: 628px;
  height: 700px;
  margin: 0 auto;
  border-radius:5px;
  position: relative;

}

.content-button button{
  padding: 15px 15px;
  width: 100px;
  background-color: #0088ff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1% ;
  z-index: 2;
}

.content-button{
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.content-button button:hover{
  background-color: #0088ff;
  color: white;
  opacity: 0.7;
  z-index: 2;
}

.result {
  display: none;
  margin-top: 2% !important;
  overflow: hidden;
  background-color: green;
  width: 500px;
  margin: 0 auto;
  border-radius:5px;
  text-align: center;
  color:#f2f2f2;
  z-index: 2;
}


/* create a class that holds two images, on two different levels */
.ccontent-img .img1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
/* second image */
.ccontent-img .img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
